.navbar{
    border-bottom: #2980B9 solid 5px ;
}

#authors img{
    margin-top: -70px;
    width: 100px;
    height: 100px;
}

#services .card:hover{
background:#2d3436;
color:#ffff;
}
body
{
    background: linear-gradient(to right bottom,#eef4f4,#dee0e8,#9d9ea1);
}